body {
    background: url('img/background.png');
}

nav ul li a {
    color: black;
}

footer {
    display: none;
}

.content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 160px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-gap: 50px;
}

.main-content {
    width: 90%;
    padding: 20px;
}

.items {
    align-items: center;
    position: fixed;
    top: 300px;
}

.items a {
    color: black;
    font-size: 3rem;
    display: block;
    padding: 20px 20px;
}

h1 {
    text-align: center;
}

@media screen and (max-width: 640px) {
    .social {
        display: none;
    }
    .gallery {
        display: block;
        width: 100vw;
    }
    .gallery img {
        max-width: 100%;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
    nav {
        position: fixed;
    }
    .ham,
    .clo {
        position: fixed;
    }
}